{% extends "layouts/base.twig" %}

{% block content %}
  <article id="post-{{ zpost.ID }}">
    <section>
      <h1>{{ post.title }}</h1>
      {{ post.content }}
      <form action="#">
        <div>
          <label>Imię: <input type="text" placeholder="Imię"></label>
        </div>
        <div>
          <label>Email: <input type="email" placeholder="E-mail"></label>
        </div>
        <div>
          <label>Treść:<textarea name="message" cols="30" rows="10"></textarea></label>
        </div>
        <button type="submit">
          Wyślij
        </button>
      </form>
    </section>
  </article>
{% endblock %}
